# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env          
env/
venv/
*/venv/
*.egg-info/
*.egg

# VS Code
.vscode/

# Volumes
pgdata/

# OS files
.DS_Store
Thumbs.db

# Arduino
*.hex
*.elf
*.bin

# Logs
*.log

# PlatformIO
.pio/
.platformio/

# Database dumps
*.sql

# Node modules
node_modules/